<!DOCTYPE html>
<html lang="en">

<%- include ./partials/head %>

<body>

  <% include ./partials/navbar %>

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">GenoTech Home Page</h1>

      <% if(locals.user) { %>
      <p class="lead">Welcome <%= locals.user.firstName %>!</p>
      <% } %>

    </div>
  </div>

  <% include ./partials/scripts %>

</body>

</html>

